<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ks.jabosystems.dao.IPositionDao">
	<select id="queryBynexteid" resultType="position">
		SELECT * FROM `position` WHERE `eid`=#{Checkresult.next_eid}
	</select>
	
	<select id="queryByeid" resultType="position">
	SELECT  * FROM `position` WHERE eid=#{Employee.eid}
	</select>
	
	<select id="queryBynextPosition" resultType="position">
	SELECT  * FROM `position` WHERE pid=#{0}
	</select>
</mapper>